<head>
  <!-- Basic Page Needs
  ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Title and meta description
  ================================================== -->

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
  {% endif %}

  <!-- Facebook OG -->
  <meta property="og:title" content="National Week of Making" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:description" content="Celebrate the National Week of Making with the White House." />
  <meta property="og:image" content="{{ site.url }}/assets/img/wom-facebook-2.png" />
  <meta property="og:site_name" content="National Week of Making" />
  <meta property="fb:admins" content="123456789" />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@nationofmakers" />
  <meta name="twitter:title" content="National Week of Making" />
  <meta name="twitter:description" content="Celebrate the National Week of Making with the White House #NationOfMakers" />
  <meta name="twitter:image" content="{{ site.url }}/assets/img/wom-twitter-2.png" />
  <meta name="twitter:url" content="{{ site.url }}" />

  <!--[if lt IE 9]>
    <script src="{{ site.baseurl }}/assets/js/vendor/html5shiv.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
    <!-- 128x128 -->
    <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}/assets/img/favicons/favicon.ico" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicons/favicon.png" />

    <!-- 192x192, as recommended for Android
    http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
    -->
    <link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}/assets/img/favicons/favicon-192.png" />

    <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/img/favicons/favicon-57.png">
    <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/assets/img/favicons/favicon-72.png">
    <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/img/favicons/favicon-114.png">
    <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/img/favicons/favicon-144.png">

  <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="{{ "/assets/css/google-fonts.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/font-awesome-4.5.0/css/font-awesome.min.css" | prepend: site.baseurl }}">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css"/>

    <link rel="stylesheet" href="{{ "/assets/css/normalize.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <meta name="google-site-verification" content="TzDmOMtztV4WvRNLTfJgnKSYUwMHaxT5ilOdt1nuZcc" />
  <meta name="msvalidate.01" content="26D7F1C064A5DBE71FB31EF42FE85F93" />
</head>